<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz Hub</title>
    <link rel="icon" type="image/x-icon" href="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia&family=Dosis:wght@200;300&family=Gruppo&family=Licorice&family=Montserrat:wght@500&family=Permanent+Marker&family=Sacramento&family=Vujahday+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header class="home-header">
        <h1><a href="/homepage">Quiz Hub</a></h1>
        <nav>
            <ul>
                <li>
                    <a href="#create">Create Quiz</a>
                </li>
                <li>
                    <a href="#scores">My Scores</a>
                </li>
                <li>
                    <div class="dropdown dropbtn">
                    <a href=#categories>Categories</a>
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#animals">Animals</a>
                        <a href="#coding">Coding</a>
                        <a href="#geography">Geography</a>
                        <a href="#movies">Movies</a>
                        <a href="#music">Music</a>
                        <a href="#pnw">PNW</a>
                    </div>
                    </div>
                </li>
                <li>
                    <a href="#" id="logout">Log Out</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

    <h2> Start your quiz &#8595; </h2>

    <div class="takequiz-container">
        <div>Quiz Title
            <p> Question 1:
            <ol>
                <li><input type="checkbox" checked="checked" name="remember"> Question</li>
            </ol>
            </p>
            <fieldset id="question1">
                <legend>Which are fruit?</legend>
                <label><INPUT TYPE="checkbox" NAME="q1" VALUE="wrong">tomatoes<BR></label>
                <label><INPUT TYPE="checkbox" NAME="q2" VALUE="wrong">cucumber<BR></label>
                <label><INPUT TYPE="checkbox" NAME="q3" VALUE="right">apples<BR></label>
                <label><INPUT TYPE="checkbox" NAME="q4" VALUE="wrong">onion<BR></label>
                <label><INPUT TYPE="checkbox" NAME="q5" VALUE="right">bananas<BR></label>
                </fieldset>
                <br>
                <br>
                <fieldset id="question2">
                    <legend>Which are fruit?</legend>
                    <label><INPUT TYPE="checkbox" NAME="q1" VALUE="wrong">tomatoes<BR></label>
                    <label><INPUT TYPE="checkbox" NAME="q2" VALUE="wrong">cucumber<BR></label>
                    <label><INPUT TYPE="checkbox" NAME="q3" VALUE="right">apples<BR></label>
                    <label><INPUT TYPE="checkbox" NAME="q4" VALUE="wrong">onion<BR></label>
                    <label><INPUT TYPE="checkbox" NAME="q5" VALUE="right">bananas<BR></label>
                    </fieldset>


                <input type="button" id="answer">
        </div>
      
  
    
        
</main>
    

    
</body>
</html>